*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    transition: .3s ease;
}

:root {
    --header-color: #044785;
    --hover-color: rgba(6, 102, 192, 0.516);
    --dark-color: #01284e;
}

.show-block {
    display: block;
}

.show-flex {
    display: flex;
}

.dark {
    background-color: #333;
}

.light {
    background-color: #fff;
}

.header__nav-dark {
    background-color: var(--dark-color);
}

@keyframes zoomIn {
    from {
        transform:  scale(.2);
    } to {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
